[Desktop Entry]
Version=1.0
Name=Claude AI
Comment=Claude AI
Exec=omarchy-launch-webapp https://claude.ai/
Terminal=false
Type=Application
Icon=/home/papa_palp/.local/share/applications/icons/Claude AI.svg
StartupNotify=true
